Assignment 1

Q1-Values- 'hello', -87.8, 6
   Expression-* , - , / , +

Q2- Difference between string and variable
Variables are symbols that contains some data in a programme whereas Strings are data which are generally placed between a single or double quote.
eg:- a=("hello") where "hello" is a string and 'a' is the variable .

Q3- Data types
1) String :- any alphabate or nummeric value place in between single or double quote is called a string. such as :- "hello123"
2) Integer :- the whole number is an integer. such as:- (1020),(555) etc
3) Float :- any numeric value having decimal is called as float such as:- (12.05),(89.02) etc.

Q4- An expression is a combination of operator or operands. It is intepreted to produce some other values.

Q5- In expression you will always get a value but in statement it is not neccessary that a statement result in a value.
eg:- x=2
     y=3
     z=x+y (it is type of expression )
     
     spam=10 
     Print(spam)  (is a type of statement)

In [1]:
#Q6- 
bacon = 22
print (bacon + 1)
#bacon is type of integer.

23

In [4]:
#Q7-
print('spam'+'spamspam')
#spamspamspam

print('spam'*3)

#spamspamspam

#both the code gives the same result.

spamspamspam
spamspamspam

#Q8- eggs a valid variable name while 100 is invalid because a variable name can not be start from a numeric value.

#Q9- int()
    str()
    float()

#10- "i have eaten"+99+"burritos" this expression causes an error because a string and an integer beacause integer can not be add. To fix this issue we have to convert 99 to a string.